.left {
    font-size: 1.5rem;
  }
  .firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0;
  }
  .firstSection > div {
    width: 30%;
  }
  .leftSection {
    font-size: 2.6em;
    margin: 70px 0;
  }
  .leftSection .buttons {
    padding: 50px 0;
  }
  .leftSection .btn {
    padding: 12px;
    background: #1e2167;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
  }
  .rightSection img {
    width: 80%;
  }
  .purple {
    color: rgb(170, 107, 228);
  }
  .secondSection {
    max-width: 80vw;
    margin: auto;
    height: 60vh;
  }
  .secondSection h1 {
    font-size: 1.9rem;
  }
  .secondSection .box {
    background: white;
    width: 65vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
  }
  .secondSection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 100px;
  }
  .textgray {
    color: gray;
  }
  .footer {
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
  }
  .footer ul {
    list-style: none;
  }
  .footer > div {
    width: 223px;
  }
  .vertical-title {
    position: relative;
    top: 100px;
    width: 150px;
  }
  .vertical-des {
    position: relative;
    top: 111px;
    color: gray;
    width: 150px;
    font-size: 9px;
  }